//************************************************************************************
// BASE
//************************************************************************************


html {
  font-family: $default-font;
  font-size: 1em;
  color: $text-color;
  box-sizing: border-box;
}

body {
  @include font-size($font-size);
  font-weight: 200;
  line-height: $line-height;
  position: relative;
  background-color: #FFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: rgba(color(brand-primary), .6);
  text-shadow: none;
}

p,
dl,
ul,
ol {
  margin-top: 0;
  margin-bottom: $paragraph-spacing;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition;

  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus {
  outline: none;
}


img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
}

address {
  font-style: normal;
}
