//************************************************************************************
// GLOBAL VARIABLES
// Regroup every variable definition in here.
//************************************************************************************


// Site & Sidebar width
// -----------------------------------------------------------------------------------
$site-width:    1000px;
$sitebar-width: 450px;
$base-padding: 2%;

$xl: ">=#{pxtoem(1200)}";
$lg: ">=#{pxtoem(992)}";
$md: ">=#{pxtoem(768)}";
$sm: ">=#{pxtoem(576)}";
$xs: "<#{pxtoem(576)}";


// Brand colors for the project
// -----------------------------------------------------------------------------------
$colors: (
  'brand-primary': #000000,
  'brand-secondary': #004F5F,
  'brand-tertiary': #FFAE12
);


// Font Families
// -----------------------------------------------------------------------------------
$default-font:  'Roboto', Helvetica, Arial, sans-serif;
// $alt-font:      'regina_blacksolid', Tahoma, Arial, sans-serif;
$font-size: 14;
$line-height: line-height($font-size, 15);


// Text colors
// -----------------------------------------------------------------------------------
$title-color:   color(brand-primary);
$text-color:    color(brand-secondary);
$text-dim:      #333333;
$text-faint:    #6a6a6a;
$text-weak:     #999999;

$menu-btn-color: color(brand-secondary);

// Paragraph and lists spacing
// -----------------------------------------------------------------------------------
$paragraph-spacing: 1.5em;
$list-spacing:      1.1em;


// Animation
// -----------------------------------------------------------------------------------
$transition: 0.3s ease-out;
