//************************************************************************************
// HELPERS
//************************************************************************************


// Image replacement technique
// -----------------------------------------------------------------------------------
.hide-text {
  @extend %hide-text;
}

// Hide for both screenreaders and browsers:
// -----------------------------------------------------------------------------------
.hidden, .hide {
  display: none !important;
}

.visible, .show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}


// Using the Clip Method, hide visually but NOT from screenreaders.
// This is a best practice for accessibility
// -----------------------------------------------------------------------------------
.visuallyhidden {
  @include visuallyHidden(false);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  @include visuallyHidden(true);
}


// Containing floats for modern browsers
// -----------------------------------------------------------------------------------
.clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
}